<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td align="center" style="padding-top: 20px; border-top: 3px solid #4C3D3D;">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td align="center">
            <p style="color: #4C3D3D; font-family: 'Space Mono', monospace;">© 2025 MaisFoco.life - Todos os direitos reservados</p>
          </td>
        </tr>
        <tr>
          <td align="center">
            <p style="color: #4C3D3D; font-family: 'Space Mono', monospace;">Você está recebendo este email porque se inscreveu em nossas recomendações.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>